<div class="md-padding selectdemoBasicUsage">
  <md-card class="md-padding" layout-xs="column" layout="row" layout-align="center center">
    <div flex-xs flex-gt-xs="40" layout="column" layout-align="center center">
            <md-toolbar class="page-theme">
			  <div class="md-toolbar-tools">
			    <h2><span>Register Form</span></h2>
			  </div>
			</md-toolbar>
            <form action="" method="post" class="signup_form">
            <div class="md-padding" layout-align="center">
                <div layout="row">
            <md-input-container flex="100">
                <label>First name</label>
                <input mdInput>
            </md-input-container>
                <md-input-container flex="100">
                    <label>Last name</label>
                    <input mdInput>
                </md-input-container>
                    </div>
                <div layout="row">
                <md-input-container flex="100">
                    <label>Username</label>
                    <input mdInput>
                </md-input-container>
                <md-input-container flex="100">
                    <label>Email</label>
                    <input mdInput type="email">
                </md-input-container>
                    </div>
                <div layout="row">
                <md-input-container flex="100">
                    <label>Password</label>
                    <input mdInput type="password">
                </md-input-container>
                <md-input-container flex="100">
                    <label>Repeat Password</label>
                    <input mdInput type="password">
                </md-input-container>
                    </div>
                
</div>
            <md-card-actions layout="row" layout-align="center">
                <br>
                    <button  class="page-theme md-raised" md-button type="submit">Sign Up</button>

            </md-card-actions>
                </form>
            <md-card-content>

            </md-card-content>

    </div>
</md-card>
</div>

<!--
Copyright 2016 Google Inc. All Rights Reserved. 
Use of this source code is governed by an MIT-style license that can be in foundin the LICENSE file at https://material.angularjs.org/license.
-->